.container
  %h1 ユーザー一覧

  - @users.each do |user|
    .card.mb-3
      .card-body
        %p.card-text
          = link_to user.name, user_path(user), class: "btn btn-link"

  = paginate @users
  = link_to 'TOPへ戻る', root_path, class: "btn btn-success"
