= link_to '新規投稿', new_post_path, class: 'btn btn-primary mt-4'

.row
  - @posts.each do |post|
    .col-8.mt-4.mx-auto
      = link_to post_path(post), class: 'text-decoration-none' do
        .card.shadow
          .card-body
            .card-text
              = post.contents
