.container
  %h1 全体タイムライン

  - @microposts.each do |micropost|
    .card.mb-3
      .card-body
        %p.card-text= micropost.content
        %p.card-text 投稿日: #{l micropost.created_at}
        = link_to 'Show', micropost_path(micropost), class: "btn btn-primary"

  %br

  = link_to 'New Micropost', new_user_micropost_path, class: "btn btn-success"
