%h1 全体タイムライン

- if user_signed_in?
  = link_to "フォローしている人の投稿", user_microposts_path, class: 'btn btn-info mb-3'

= render 'shared/microposts_index', microposts: @microposts

= link_to 'New Micropost', new_user_micropost_path, class: "btn btn-success"
