%nav.navbar.navbar-expand-lg.navbar-light.bg-body-tertiary
  .container
    %ul.navbar-nav
      %li.nav-item
        = link_to 'Miniblog', root_path, class: 'navbar-brand fs-2'
      %li.nav-item
        = link_to 'プロフィール', profile_path, class: 'nav-link'
    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item
          = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger'
      - else
        %li.nav-item
          = link_to 'ログイン', new_user_session_path, class: 'btn btn-primary'
